.container_title {
  text-align: center;
}

.posts_container {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  margin-top: 2em;

  h2 {
    text-align: center;
    margin-top: 0;
    grid-column: 1/-1;
  }
}
